.join {
    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: column;
        margin-right: 93px;
    }

    &__text {
        color: var(--white-color);
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
    } 
}

