:root {
    --primary-text-color:#212121;
    --second-text-color:#757575;
    --white-first-background-color: #F5F5F5;
    --background-light-color:#F5F4FA;
    --accent-color:#2196F3;
    --black-color:#000000;
    --background-dark-color:#2F303A;
    --white-color:#FFFFFF;
    --white-second-text-color:rgba(255, 255, 255, 0.6);
    --button-active-blue: #188CE8;
    --social-link-brand:#AFB1B8;
    --background-gray-color:#C4C4C4;

    --backdrop-background-color: rgba(0, 0, 0, 0.2);
    --close-button-order:rgba(0, 0, 0, 0.1);
    --footer-form-email:rgba(255, 255, 255, 0.6);

    --anime: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}